
    $text-color: #757575;
    $headers-color: #212121;
    $background-whitetext-color: #FFFFFF;
    $accent-color: #2196F3;
    $background-grey-color: #F5F4FA;
    $background-durk-color: #2F303A;
    $footer-contact-color: rgba(255, 255, 255, 0.6);
    $social-icons0color: #AFB1B8;

