.subscribe {
    margin-left: 93px;
    margin-right: auto;

}

.subscribe-form {
    display: flex;
    justify-content: center;
}
.subscribe-text {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: $background-whitetext-color;
}